html,body{overflow-x:hidden !important}

// imports styles
@import './partials/variables.scss';
@import './partials/breakpoints.scss';
@import './partials/reset.css';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// import other components styles
@import './breadcrumb.scss';
@import './cart.scss';
@import './checkout.scss';
@import './errorpage.scss';
@import './footer.scss';
@import './header.scss';
@import './homepage.scss';
@import './login.scss';
@import './productsingle.scss';
@import './productspage.scss';

@-webkit-keyframes watchAnimation {
  from { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-moz-keyframes watchAnimation {
  from { -moz-transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-o-keyframes watchAnimation {
  from { -o-transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@keyframes watchAnimation {
  from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-webkit-keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}
@-moz-keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}
@-o-keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}
@keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: white;
  font-family: var(--main-font);
  color: var(--color-text);
  font-size: 16px;
  &.body--with-footer {
    .main {
      align-items: normal;
    }
  }
}

span {
  font-weight: 300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button {
  cursor: pointer;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input, textarea, button, select {
  border: none;
  background: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  font-family: var(--main-font);
}

button {
  cursor: pointer;
}

h1,h2,h3,h4,h5 {
  color: var(--color-black);
}

.container {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @include breakpoint(phone) {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(tablet-lg) {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(desktop-lg) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-page {
  padding-top: 65px;
  @include breakpoint(phone) {
    padding-top: 100px;
  }
}

.block {
  .block__title {
    font-size: 14px;
    margin-bottom: 23px;
  }
}
